* {
    font-family: 'Poppins', sans-serif;
    max-width: 1250px;
    margin: 0 auto;

}

.header-container {
    background-image: url(image/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;

}

.header-container h1 {
    height: 3vw;
    margin-bottom: 60px;
}

.header-container p {
    padding: 20px;
    height: 1vw;
}

.main {
    max-width: 1150px;
    margin: 0 auto;
}



.card-1 {
    width: 250px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 1px 1px 6px gray;
}

#budget-card {
    height: 500px;
}




.images {

    height: 230px;
}

footer {
    height: 100px;

}

footer p {
    margin-top: 270px;
}